/* Main */

html{
    height:100%;
}

body{
    height:100%;
    background: url("../files/fondo.jpg") no-repeat fixed center;
    background-size: cover;
}

.header-content{
    min-height:100%;
    padding-bottom: 240px;
}


/* Barra de navegacion */

#barra{
    height: 114px;
    border-width: 7px;
    border-color: black;
    background-color: #FF2501;
}

#barra .container-fluid{
    padding-right: 0;
}

.navbar-brand{
    padding: 0;
    height: 100%;
}

#barra a.dropdown-toggle,
#barra .dropdown-menu a{
    color: white;
}

#barra .dropdown.open a.dropdown-toggle,
#barra .dropdown-menu li > a:hover,
#barra .dropdown-menu li > a:focus{
    color: #FF2501;
    background-color: white;
}

#barra .dropdown-toggle,
#barra .dropdown-menu{
    background-color: #FF2501;
}

#barra img{
    pointer-events: none;
}

#barra .navbar-toggle{
    font-size: 24px;
    margin-top: 30px;
    margin-right: 30px;
    border-color: white;
}

#barra .navbar-toggle.collapsed{
    background-color: #FF2501 !important;
}

#barra .navbar-toggle.collapsed span{
    background-color: white;
}

#barra .navbar-toggle{
    background-color: white !important;
}

#barra .navbar-toggle span{
    background-color: #FF2501;
}

@media only screen and (max-width: 767px){
    
    #barra{
        border-color: #FF2501;
        background-color: #FF2501;
    }

    #barra .dropdown-toggle{
        font-size: 25px;
    }

    #barra .dropdown-menu{
        font-size: 20px;
    }

    #barra .navbar-collapse{
        border: 0;
        margin-right: -22px;
        margin-left: -22px;
    }

    #barra .dropdown a.dropdown-toggle{
        border-top: 2px solid white;
    }

    #barra .navbar-collapse img{
        width: 50px;
        height: 50px;
    }

}

@media only screen and (min-width: 768px){

    #barra .dropdown{
        height: 100px;
    }

    #barra .dropdown-toggle{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0;
        border-right: 7px solid black;
    }

    #barra .dropdown:hover .dropdown-menu{
        display: block;
    }

    #barra .dropdown-menu{
        border: 0;
        padding-top: 7px;
        margin-right: 6px;
    }

    .derecha{
        right: auto !important;
        left: 0 !important;
    }

    .final{
        margin-right: -5px;
    }

}

/* Content */

#content h1,
#content h4{
    color: white;
    background-color: #FF2501;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 20px;
    margin-bottom: 5px;
}


/* Footer */

.footer{
    width: 100%;
    margin-top: -185px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: white;
    background-color: #FF2501;
}

@media only screen and (min-width: 768px){

    .not-lefty{
        border-left: 1px solid;
        border-color: white;
    }

    .equal{
        height: 155px;
        display: flex;
        flex-wrap: wrap;
    }

    .equal > div[class*='col-']{
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 767px){

    .equal .col-md-3{
        margin-bottom: 20px;
    }

    .not-lefty{
        padding-top: 20px;
        border-top: 1px solid white;
    }

}

.footer hr{
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer h3{
    margin-top: 7px;
    margin-bottom: 7px;
}

.footer h4{
    margin: 0;
}

.footer h4 span{
    position: relative;
    top: 2px;
}

.footer h5{
    margin-top: 15px;
    margin-bottom: 0;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: lightblue;
}

.footer ul{
    margin-bottom: 0;
}

.footer-image{
    margin-top: 10px;
}

.logo{
    height: 33px;
}