.center-pills{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.center-pills a{
	color: #FF2501;
	background-color: white;
}

.center-pills li.active a{
	color: white;
	background-color: #FF2501;
}

.center-pills li.active > a:hover,
.center-pills li.active > a:focus{
	background-color: #FF3333;
}

@media only screen and (min-width: 768px){

	.mapa{
		height: 500px;
	}

}

@media only screen and (max-width: 767px){

	.mapa{
		height: 250px;
	}

}